<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config />

    <context:component-scan base-package="com.jinx" />

    <mvc:annotation-driven />

    <import resource="mongo-context.xml"/>


    <!--静态资源访问处理 这种方法就是利用容器的default servlet来处理先
    -->
    <mvc:default-servlet-handler />

    <!-- 通过扫描将带有@Controller注解的类交由spring容器管理并维护 -->
    <context:component-scan base-package="com.jinx.controller"/>


    <!--这个是SpringMVC必须要配置的，因为它声明了@RequestMapping、@RequestBody、@ResponseBody等。并且，该配置默认加载很多的参数绑定方法，比如json转换解析器等。-->
    <mvc:annotation-driven/>

</beans>